.feynman__title{
    max-width: 775px;
    margin: auto;
    justify-content: center;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 70px;
  }