.video{
    margin-top: 100px;
    justify-items: center;
    margin-bottom: -40px;
}

.video__iframes{
    display: flex;
    justify-content: center;
}
.video__iframe{
    flex-direction: row;
    margin-right: 20px;
}