.khan__buy-link{
    text-decoration: none;
    color: #2F80ED;
    opacity: 1;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    align-items: flex-start;
}

.khan__buy-link:hover{
    opacity: .5;
    transition: color 2s ease .5s;
}